body *{
    cursor: default;
}

#home{
    height: 50vh;
}

#home .logo{
    position: absolute;
    margin: 10px 0 0 50px;
}

#home .logo svg{
    height: 170px;
    width: 80px;
}

#home .logo .intro{
    float: right;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    color: #444;
}

#home .logo .intro span:first-child{
    width: 100%;
    display: block;
    font-size: 1.5em;
    font-weight: 300;
}

#home .logo .intro span:last-child{
    font-size: 2em;
    line-height: 20px;
    font-weight: 500;
}

#home nav{
    float: right;
    margin: 50px 30px 0 0;
}

#home nav a{
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    cursor: pointer;
}

#home nav a:hover{
    color: #8dc540;
}

#home .center{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 1366px){
    #home .center{
        top: 45%;
    }
}

#home .center button{
    border: none;
    background: #8dc540;
    color: #FFF;
    padding: 15px 20px;
    font-size: 1.3em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 2px;
    display: block;
    margin: 0 10px;
    display: inline-block;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
}

#home .center button img{
    height: 23px;
    margin-left: 10px;
}

#home .center button:hover{
    background:#5e9313;
    cursor: pointer;
}

#home .center button:last-child{
    background: #FAFAFA;
    color: #333;
    border: 1px solid #333;
}

#home .center button:last-child:hover{
    background: #FFF;
    color: #659227;
    border-color: #659227;
}

#home .center h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5em;
    color: #333;
    margin: 0;
    text-transform: uppercase;
}

#home .center h1 + span{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 50px;
    font-size: .9em;
    color: #444;
}

#home .center h1 + span em{
    font-style: normal;
    font-weight: 800;
}

#jogos .banner{
    height: 250px;
}

#jogos .banner img{
    height: 400px;
    margin: 0 auto;
    display: block;
}

#parallax{
    background-image: url('background-parallax.png');
    height: 550px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#parallax .relative{
    position: relative;
    height: 650px;
}

#parallax .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    -webkit-display: flex;
}

#parallax .container .box{
    width: 100%;
    background: #FAFAFA;
    padding: 30px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 20px;
    width: 250px;
    text-align: center;
}

#parallax .container .box .icon img {
    height: 40px;
    display: block;
    margin: 0 auto 20px auto;
}

#parallax .container .box h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    text-transform: uppercase;
}

#blog h1,
#loja h1,
#embreve h1{
    text-align: center;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

#blog h1:after,
#loja h1:after,
#embreve h1:after{
    content: '';
    height: 6px;
    width: 180px;
    background: url('../assets/dotted.png');
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#loja h1:after{
    
     content: '';
    height: 6px;
    width: 180px;
    background: url('../assets/dotted_white.png');
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}
  

#blog + .page-content{
    height: 450px;
    position: relative;
    padding-bottom: 0;
}

#blog + .page-content > .wrapper{
    max-width: calc(1200px - (30px * 2)) !important;
    height: 450px;
    overflow-y: hidden;
}

.post-list{
    display: flex;
    flex-wrap: wrap;
}

.post-list li{
    margin-bottom: 50px;
    border: 1px solid #8dc540;
    background: #FAFAFA;
    box-shadow: 1px 2px 5px rgba(0,0,0, .1);
    padding: 29px;
    width: calc(100% - 860px);
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
}

.post-list li:hover{
    background: #8dc540;
    cursor: pointer;
}

.post-list li a{
    white-space: wrap;
    color: #7AB429;
    font-size: .9em;
}

.post-list li:hover a,
.post-list li:hover span{
    color: #FFF;
    cursor: pointer;
}

#vejamais{
    position: relative;
    padding-bottom: 100px;
}

#vejamais .smoke{
    height: 1px;
    display: block;
    margin: 0 auto;
    max-width: calc(1200px - (30px * 2)) !important;
    -webkit-box-shadow: 0 1px 15px 12px #FFF;
    -moz-box-shadow: 0 1px 15px 12px #FFF;
    box-shadow: 0 1px 15px 12px #FFF;
    z-index: 999;
    text-align: center;
}

#vejamais .smoke button{
    border: none;
    background: #8dc540;
    color: #FFF;
    padding: 20px 30px;
    font-size: 1.3em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 2px;
    display: block;
    margin: 0 10px;
    display: inline-block;
    width: :;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    margin-top: 50px;
    background: #FAFAFA;
    color: #333;
    border: 1px solid #333;
}

#vejamais .smoke button:hover{
    cursor: pointer;
    background: #FFF;
    color: #659227;
    border-color: #659227;
}

#loja{
    margin-top: 150px;
    background-image: url('parallax.png');
    background-color: #444;
    height: 100%;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
}

#loja h1{
    margin-bottom: 50px;
}

#loja h1 em{
    font-style: normal;
    color: #93e028;
}


#loja .container{
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}


#loja .container .box{
    width: calc(100% - 1240px);
    text-align: center;
    margin: 20px;
    padding: 10px;
    padding-bottom: 30px;
    color: #FFF;
    border-radius: 2px;
    font-family: 'Ubuntu', sans-serif;
}

#loja .container .box img{
    height: 250px;
}


#loja .social div{
    display: inline-block;
}

#loja span.cnpj{
    position: absolute;
    top: 98%;
    left: 50%;
    transform:translate(-50%, -50%);
    bottom: 0;
    font-size: .8em;
    color: #DDD;
    text-align: center;
}


#loja p.email{
    color: #93e028;
    font-size: 2em;
    margin-bottom: 30px;
}

#loja .social div{
    margin: 40px 30px 20px 30px;
}

#loja .box .desc{
    padding: 0 20px;
    text-align: justify;
}

#loja .box .desc em{
    font-style: normal;
    color: #93e028;
    font-weight: 700;
}

#loja .box button:hover{
    cursor: pointer;
    background: #94ff00;
}


#loja .box button{
   border: none;
    background: #8dc540;
    color: #274004;
    padding: 10px;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 2px;
    display: block;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
}

#loja .box button a{
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    
}

.floating{
	-webkit-animation: float;
	-moz-animation-name: float;
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes float{
	from {-webkit-transform: translate(0,0);}
	65% {-webkit-transform: translate(0,15px);}
	to {-webkit-transform: translate(0,-0);}
}

@-moz-keyframes float{
	from {-moz-transform: translate(0,0);}
	65% {-moz-transform: translate(0,15px);}
	to {-moz-transform: translate(0,-0);}
}


#line{
    width: 100%;
    height: 3px;
    background: #8dc540;
}



@media screen and (max-width: 1440px){
    #loja .container .box{
        width: calc(100% - 1080px);    
    }
    
}

@media screen and (max-width: 1366px){
#loja .container .box {
    width: calc(100% - 920px);
}

}

@media screen and (max-width: 1920px) and (min-width: 1920px){
#loja .container .box {
    width: calc(100% - 1425px);
}

#home{
    height: 55vh;
}

#home .center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
}


#disqus_thread{
    padding: 0 300px;
}



@media screen and (max-width: 480px){
    
    #disqus_thread{
    padding: 0 20px;
}
    
    #home {
    height: 85vh;
}
    #home .logo svg {
        height: 100px;
        width: 60px;
    }
    
    #home .logo {
        position: absolute;
        margin: 0 0 0 10px;
    }
    
   #home .logo .intro {
    float: right;
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    margin-left: 10px;
    color: #444;
}
    
    #home .logo .intro span:first-child {
        width: 100%;
        display: block;
        font-size: 1em;
        font-weight: 300;
    }
    
    #home .logo .intro span:last-child {
        font-size: 1.4em;
        line-height: 5px;
        font-weight: 500;
    }
    
    #navbar{
        display: none;
    }
    
    #home .center h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: #222;
    margin: 0;
    text-transform: uppercase;
}

#home .center {
    position: inherit;
    transform: none;
    padding-top: 100px;
    
}

#home .center button{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

#jogos .banner{
    display: none;
}

#parallax .container{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    transform: none;
    position: relative;
    top: 0;
    left: 0;
}

#parallax .container .box{
    display: block;
    margin: 20px auto;
    
}

#parallax{
    height: 100%;
    padding: 10px 0;
}

#parallax .relative{
    height: 100%;
}

#blog + .page-content > .wrapper{
    
    max-width: 50%;
}

.post-list li{
    width: 100%;
}

#loja .container .box{
    width: 100%;
}

.email, .cnpj{
    display: none;
}
.post-list li {
    width: 65%;
}

}


.blog-head{
    height: 200px;
    background: #222;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('/assets/parallax.png');
    background-size: cover;
}

time{
    font-size: .6em;
    opacity: .7;
}

#voltarsite{
    display: block;
    margin: 0 auto;
    border: none;
    background: #FFF;
    border: 1px solid #222;
    padding: 20px 30px;
    font-size: 1.3em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 2px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    margin-bottom: 30px;
}

#voltarsite:hover{
    cursor: pointer;
    background: #222;
    color: #fff;
}


modal{
    position: fixed;
    height: 100%;
    background: rgba(0,0,0, .7);
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

modal .modal-content{
    width: 27%;
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 15px;
    min-height: 350px;
}

modal .modal-content ul{
    font-size: 0.8em;
    margin-bottom: 30px;
}

modal button, modal a{
    border: 1px solid;
    padding: 5px 10px;
    background: #FFF;
    outline: none;
    cursor: pointer;
}

modal button:first-of-type:hover{
    color: #FFF;
    background: #000;
}

modal p{
    font-weight: 800;
    text-align: center;
}

modal a:visited{
    color: #FFF
}

modal img{
    margin-bottom: 10px;
}

modal a{
    background: #8dc540;
    color: #FFF;
    float: right;
}

#embreve .container{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    position: relative;
    margin-bottom: 200px;
}

#embreve .container .flex {
    width: 33.3%;
    height: 250px;
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    text-align: center;
}

@media screen and (max-width: 490px){
    #embreve .container .flex{
        padding: 0;
    }
}

@media screen and (max-width: 490px){
    #embreve .container .flex{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    
    #embreve .container .flex .img,
    #embreve .container .flex .desc{
        width: 100%;
    }
    
}

#embreve .container .flex .img{
    height: 100%;
    width: 100%;
}

#embreve .container .flex .desc{
    height: 100%;
    width: 100%;
}



#embreve h1{
    text-align: center;
}

#embreve .img img{
    display: block;
    margin: 0 auto;
    height: 100%;
}

#embreve img.nota:first-of-type{
    margin-left: 5px;
}

#embreve ul{
    list-style-type: none;
    margin: 0;
}

#embreve img.nota {
    height: 15px;
    vertical-align: text-top;
}

#embreve p.title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.preview{
    width: 100%;
    text-align: center;
}

.preview a{
    border: 1px solid;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
}

.rss-subscribe{
    display: none;
}

.displaynone{
    display: none !important;
}


#loja ul.dados{
        text-align: center;
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
}

#loja p.title{
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}


.modal-content{
    display: flex;
    -webkit-display: flex;
}

.modal-content .esq,
.modal-content .dir{
    width: 50%;
    padding: 15px;
    position: relative;
    text-align: left;
}

.modal-content .dir p{
    font-weight: 100;
}

.modal-content .dir .btn{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal-content .dir .btn a{
    margin: 0 10px 0 0;
    float: right;
}

.modal-content .dir .btn .voltar{
    vertical-align: sub;
}

.modal-content .dir p.title{
        font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}

modal .modal-content{
    width: 60%;
}


@media screen and (max-width: 490px){
    #embreve .container .flex{
        width: 100%;
        padding: 0 0 100px 0 !important;
    }
    
    .modal-content{
        display: flex;
        -webkit-display: flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        height: 80%;
        width: 85% !important;
        overflow-y: scroll;
    }
    
    .modal-content .esq, .modal-content .dir {
        padding: 0;
        width: 100%;
    }
    
    .modal-content .dir .btn{
        position: relative;
        text-align: center;
    }
    
    .modal-content .dir .btn .voltar{
        width: 80%;
        display: block;
        margin: 15px auto;
    }
    
    .modal-content .dir .btn a{
        width: 90% !important;
        display: block;
        margin: 0 auto;
    }
    
    
}