<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="blog-head">
            <span>Blog da Meeple</span>
        </div>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}        
            </div>
        </main>
        
        <button id="voltarsite">Voltar para o site</button>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js"></script>
    </body>
</html>